.blog-section {
  background-color: #f94e30;
  color: #ffff;
}

.titleText-blogSection {
  color: #ffff;
  font-size: 2em;
  font-weight: 300;

}

.titleText-blogSection span {
  color: #2e2e2e;
  font-weight: 700;
  font-size: 1.5em;
}

.flip {
  transform: rotate(180deg);
  
}

