:root {
  --surface-color: #f94e30;
  --curve: 40;
}

.adopt_card {
  position: relative;
  display: block;
  height: 100%;  
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.adopt_card__image {      
  width: 100%;
  max-height: 250px;
}

.adopt_card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.adopt_card__button{
  display: inline-block;
  align-items: center;
  margin-top: 20px;
  padding: 8px 20px;
  background: #fff;
  color: #f94e30;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;





  
}


.adopt_card:hover .adopt_card__overlay {
  transform: translateY(0);
}

.adopt_card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.adopt_card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.adopt_card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.adopt_card:hover .adopt_card__header {
  transform: translateY(0);
}

.adopt_card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.adopt_card__title {
  font-size: 1.5em;
  margin: 0 0 .3em;
  color: #fff;
}

.adopt_card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.adopt_card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.adopt_card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  align-items: center;
}    