header {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header img {
  height: 80px;
  width: 140px;
}

header .logo {
  position: relative;
  max-width: 80px;
}

header ul {
  position: relative;
  display: flex;
}



header ul li {
  list-style: none;
  font-size: 1em;
}

header ul li a:hover {
  color: #f94e30;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}


@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  header .logo {
    max-width: 60px;
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/assets/menu.png); 
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active {
    position: fixed;
    right: 20px;
    background: url(/assets/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
  }
  header ul li a{
    font-size: 1.5em;
    font-weight: 400;
    margin: 5px 0;

  }
  header ul {
    display: none;
  }

}
